configuration:
  backupStorageLocation:
    - name: default
      provider: aws
      bucket: astronomy-velero-backups-3a10bf19
      config:
        region: us-east-1
  volumeSnapshotLocation:
    - name: default
      provider: aws
      config:
        region: us-east-1

initContainers:
  - name: velero-plugin-for-aws
    image: velero/velero-plugin-for-aws:v1.9.0
    imagePullPolicy: IfNotPresent
    volumeMounts:
      - mountPath: /target
        name: plugins

serviceAccount:
  server:
    create: true
    name: velero-server
    annotations:
      eks.amazonaws.com/role-arn: arn:aws:iam::396183525704:role/velero-server-role

credentials:
  useSecret: false

# Enable schedules if needed, but for now just core setup
schedules: {}
