configuration:
  backupStorageLocation:
  - name: default
    provider: aws
    bucket: astronomy-velero-backups-8887f057
    config:
      region: us-east-1
  volumeSnapshotLocation:
  - name: default
    provider: aws
    config:
      region: us-east-1

initContainers:
- name: velero-plugin-for-aws
  image: velero/velero-plugin-for-aws:v1.9.0
  volumeMounts:
  - mountPath: /target
    name: plugins

serviceAccount:
  server:
    create: true
    name: velero-server
    annotations:
      eks.amazonaws.com/role-arn: arn:aws:iam::396183525704:role/velero-server-role-prod

credentials:
  useSecret: false
