apiVersion: aws.upbound.io/v1beta1
kind: ProviderConfig
metadata:
  name: default
spec:
  credentials:
    source: IRSA
    fs:
      fsGroup: 2000
  irsa:
    roleArn: arn:aws:iam::396183525704:role/astronomy-prod-crossplane-provider-aws
